<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="text-center">
<h1>Players</h1>
<div class="col-lg-offset-5" style="padding-left:30px">
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @players.order(:name).each do |player| %>
      <tr>
        <td><%= button_to player.name, player, :class => "btn btn-link", :method => "get" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<br>
    <br>
      <div>
<%= link_to 'New Player', new_player_path %>
      </div>
  </div>
</div>
</div>