<div class="container">
  <div class="row">
<h1 class="text-center" style=" padding-right:30px">New Player</h1>

<%= render 'form', player: @player %>
    <br><br>
<div class="text-center" style="padding-right:35px">
<%= link_to 'Back', players_path %>
</div>
  </div>
</div>